@import 'variable-overrides.scss';
@import "bootstrap/scss/bootstrap";

$headerBG: rgba(0, 0, 0, 0.5);

.my-header {
  background-color: $headerBG;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background: fixed url('/background.jpg');
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.book {
  cursor: pointer;
}

.cartCSV {
  fill: white;
}

.tablePicture {
  max-width: 95%;
}

.btn {
  margin: 1rem;
}

main{
  flex: 1;
}

.cartTitle{
  cursor: pointer;
}

.cartBook p span {
  display: inline-block;
  width: 110px;
}

.filters,
.sortingOptions {
  color: white;
}


.cartContent {
  max-width: 90%;
  .h3 span {
  display: inline-block;
  width: 110px;
}}

img{
  max-height: 50rem;
}

.details {
  max-width: 80%;
}
