@import 'variable-overrides.scss';
@import "bootstrap/scss/bootstrap";


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background: fixed url('/background.jpg');
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main{
  flex: 1;
  // max-width: 700px;
  margin: 0 auto;
}

.cartBook {
  background-color: lightblue;
  color: black;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  /* line-height: 10%; */
}

// .book p span {
//   display: inline-block;
//   // width: 110px;
//   font-weight: 700;

// }

.cartBook p span {
  display: inline-block;
  width: 110px;
}

.filters,
.sortingOptions {
  color: white;
}

// label span {
//   padding-left: 25px;
//   display: inline-block;
//   width: 180px;
// }

button {
  background-color: lightblue;
  border-radius: 5px;
}

.bookDetails {
  /* background-color: white; */
  color: black;
  padding: 20px;
  margin: 0px;
  border-radius: 0px;
  line-height: 80%;
}

.details{
  background-color: white;
  position: relative;
  color: black;
  padding: 20px;
  margin: 0px;
  border-radius: 10px;
  line-height: 110%;
}

.details p span {
  display: inline-block;
  width: 110px;
  text-align: left;
  font-weight: 700;
  /* height: 100px; */
  margin-bottom: 10px;
}
/* span::before {
  content: "Title:";
  display: block;
  margin-bottom: 5px;
} */

.cartContent h3 span {
  display: inline-block;
  width: 110px;
}

img{
  max-width: 90%;
  margin: 0 auto;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
