# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
AssignmentDescription.txt

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
html/app.html
html/pages/about.html
html/pages/photos-of-fruits.html
html/pages/photos-of-the-sea.html
html/pages/photos-portraits.html
html/pages/start.html
html/parts/footer.html
html/parts/logo.html
html/parts/nav.html
