:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: rgb(186, 174, 174);
}

main{
  max-width: 700px;
  margin: 0 auto;
}

header{
  max-width: 1200px;
}
.book {
  background-color: darkblue;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  /* line-height: 1 */
}

.cartBook {
  background-color: lightblue;
  color: black;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  /* line-height: 10%; */
}

.book p span {
  display: inline-block;
  width: 110px;
}

.cartBook p span {
  display: inline-block;
  width: 110px;
}

.filters,
.sortingOptions {
  color: white;
}

label span {
  padding-left: 25px;
  display: inline-block;
  width: 180px;
}

button {
  background-color: lightblue;
  border-radius: 5px;
}

.bookDetails {
  /* background-color: white; */
  color: black;
  padding: 20px;
  margin: 20px;
  border-radius: 0px;
  line-height: 80%;
}

.details{
  background-color: white;
  color: black;
  padding: 20px;
  margin: 20px;
  border-radius: 0px;
  border-radius: 10px;
  line-height: 110%;
}

.details p span {
  display: inline-block;
  width: 110px;
}

.cartContent h3 span {
  display: inline-block;
  width: 110px;
}

img{
  max-width: 500px;
}

tfoot{
  font-weight: 700;
}